{% extends 'base.html'%} {% block content %}
<div class="container">
	<h1>hello, welcome to your contacts</h1>
	<h1 class="page-header head">Here is a list of your contacts</h1>
	{%for message in get_flashed_messages()%}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
	{% endfor %} {% for contact in contacts%}
	<div class="col-sm-12">
		<ul class="list-unstyled">
			<li class="style">
				<h4>Name: {{contact.name}}</h4>
				<p>Tel: {{contact.tel}}</p>
				<p class="p">Added at: {{moment(current_time).format('LLL')}}</p>
				<p class="p">That was {{moment(current_time).fromNow(refresh=True)}}</p>
				<a
					href="/delete/{{contact.id}}"  
					type="button"
					class="btn btn-danger btn-sm"
					>Delete</a
				>
			</li>
			<hr />
		</ul>
	</div>
	{% endfor %}
</div>

{% endblock%}
